@font-face {
  font-family: "iconfont"; /* Project id 3201549 */
  src: url('./iconfont.woff2?t=1651052416260') format('woff2'),
       url('./iconfont.woff?t=1651052416260') format('woff'),
       url('./iconfont.ttf?t=1651052416260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e605";
}

.icon-h1:before {
  content: "\e623";
}

.icon-h5:before {
  content: "\e60d";
}

.icon-h6:before {
  content: "\e61b";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-daimakuai:before {
  content: "\e603";
}

.icon-zhuanfa:before {
  content: "\e629";
}

.icon-cuowu:before {
  content: "\e628";
}

.icon-Ok:before {
  content: "\e66d";
}

.icon-a-gantanhao3x:before {
  content: "\e61f";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-mima:before {
  content: "\e640";
}

.icon-dikuaimingcheng:before {
  content: "\ea05";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-lianjie:before {
  content: "\e602";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-h3:before {
  content: "\e60b";
}

.icon-h2:before {
  content: "\e61a";
}

.icon-h4:before {
  content: "\e625";
}

.icon-yinyong:before {
  content: "\ec81";
}

.icon-T-xiahuaxian:before {
  content: "\e720";
}

.icon-zitixieti:before {
  content: "\ec85";
}

.icon-strikethrough:before {
  content: "\e611";
}

.icon-T-jiacu:before {
  content: "\e71d";
}

.icon-camera:before {
  content: "\e609";
}

.icon-group52:before {
  content: "\e634";
}

.icon-shixin:before {
  content: "\e635";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-zuozhe:before {
  content: "\ea4a";
}

.icon-jiahao:before {
  content: "\e61c";
}

.icon-gerenziliao:before {
  content: "\e624";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-dianzan1:before {
  content: "\e673";
}

.icon-pinglun1:before {
  content: "\e60c";
}

.icon-jia:before {
  content: "\e715";
}

.icon-youjiantou:before {
  content: "\e6e0";
}

.icon-pinglun:before {
  content: "\e61e";
}

.icon-liulan:before {
  content: "\e60e";
}

.icon-xiaoxi:before {
  content: "\e614";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-yonghu:before {
  content: "\e632";
}

.icon-h:before {
  content: "\e819";
}

.icon-shoucang:before {
  content: "\e615";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e607";
}

