@import '@/common/style.scss';
.blog-list {    
    padding: 0 20px 30px 20px;    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 900px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    &_more {
        cursor: pointer;
        padding: 20px 0 0 0;
        text-align: center;
        color: $theme-gray-color1;
        font-size: 15px;
    }
    .blog-item {
        cursor: pointer;
        padding-bottom: 10px;        
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $theme-border-color1;                
        &_header {  
            padding-top: 10px;          
            font-size: 15px;
            color: #999;                        
        }
        &_title {
            padding-top: 10px;                        
            font-size: 20px;
            font-weight: bold;
            color: $theme-black-color1;
        }
        &_content {
            padding-top: 20px;
            color: $theme-gray-color1;
        }
        &_info {
            padding-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__user {
                display: flex;                
                flex-direction: row;
                align-items: center;
                &___avatar {
                    width: 50px;
                    height: 50px;                    
                    border-radius: 50%;
                }
                &___name {
                    padding-left: 5px;
                    font-size: 15px;
                }
            }
            &__count {
                display: flex;
                flex-direction: row;
                align-items: center;
                &___icon {
                    font-size: 13px;
                    margin-left: 30px;
                    color: #4e5969;
                    .iconfont {
                        margin-right: 3px;
                        font-size: 18px;
                    }
                }
            }                    
        }
    }
}