@import '@/common/style.scss';
.myarticle-list {
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 20px;        
    &_item {
        cursor: pointer;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $theme-border-color4;
        &__title {
            padding-top: 10px;                        
            box-sizing: border-box;
            font-size: 17px;
            font-weight: bold;
            color: $theme-black-color1;
        }
        &__content {
            padding-top: 15px;            
            box-sizing: border-box;                                    
            color: $theme-gray-color1;
        }
        &__info {
            position: relative;
            display: flex;
            padding-top: 15px;                        
            box-sizing: border-box;
            flex-direction: row;
            align-items: center;
            &___icon { 
                cursor: pointer;     
                margin-left: 15px;          
                span:first-child {
                    font-size: 16px;                        
                    color: $theme-blue-color1;
                }
                span:last-child {                    
                    margin-left: 5px;
                    font-size: 16px;
                    color: $theme-blue-color1;
                }
            }
            &___icon:first-child {
                margin-left: 0;
            }
            &___action {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 15px;
                span:last-child {
                    color: $theme-blue-color1;
                }
                &____box {
                    display: none;
                    padding: 10px;                    
                    position: absolute;
                    right: 0;
                    transform: translateX(50%);
                    top: -37px;
                    width: 130px;                                       
                    flex-direction: row;
                    justify-content: space-around;
                    border-radius: 4px;
                    box-shadow: 0 0 10px 2px rgba(0, 0%, 0%, 0.1);   
                    background-color: transparent;
                    &_____edit,
                    &_____remove {
                        font-size: 14px;                        
                        span:last-child {
                            margin-left: 3px;
                        }
                    }
                    &_____edit span {
                        color: #1E80FF !important;
                    } 
                    &_____remove span {
                        color: #FF3030 !important;
                    }
                    transition: background-color 0.2s ease-in-out 0s;
                }
                &:hover &____box {
                    display: flex; 
                    background-color: #fff;
                }
            }            
        }
    }
}