@import '@/common/style.scss';
.edit {
    position: relative;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-height: 85vh;
    max-height: auto;
    border-radius: 10px;
    background-color: #fff;
    &-title {
        padding: 15px 15px 0 20px;
        box-sizing: border-box;
        height: 90px;
        &_input  {
            width: 100%;
            height: 100%;
            font-size: 24px;
            font-weight: bold;
        }
        &_input::placeholder {
            color: #999;
        }
    }

    &-content {
        flex-grow: 1;
    }

    &-publish {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: -80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: $theme-shadow1;                
        background-color: #fff;
        transition: background-color 0.3s 0s ease-in-out;
        
    
        span {
            color: $theme-blue-color1;
            font-size: 23px;
            transition: color 0.3s 0s ease-in-out;
        }
    
        &__text {
            margin-top: 5px;
            font-size: 12px;
            color: $theme-blue-color1;
            transition: color 0.3s 0s ease-in-out;
        }
    }

    &-publish:hover {
        background-color: $theme-color;
    }

    &-publish:hover span,
    &-publish:hover &-publish__text {
        color: #fff !important;
    }
}

