.article-list {
    padding-bottom: 50px;    
    margin-top: 30px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    // width: calc(100% - 20%);
    height: auto;
    overflow: hidden;
    &_left {

    }
    &_right {
        
    }
}
