/* 主题背景色 */
$theme-back-color: #e7e7e7;
$theme-back-color2: #fafafa;
/* 主题颜色 */
$theme-color: #C9EAEF;
$theme-hover-color1: #e7e7e7;
$theme-hover-color2: #fefefe;
$theme-hover-color3: #eeeeee;
/* 主题字体颜色 */
$theme-font-color: #333333;
/* 主题字体颜色2 */
$theme-black-color1: #1d2129;
$theme-black-color2: #17181a;
/* 主题字体颜色3 */
$theme-gray-color1: #86909c;
$theme-gray-color2: #909090;
$theme-gray-color3: #969696;
$theme-gray-color4: #dddddd;
$theme-blue-color1: #8a8aa9;
$theme-blue-color2: #4e5969;
$theme-blue-color3: #8a93a0;
/* 主题线条颜色 */
$theme-border-color1: #e5e6eb;
$theme-border-color2: #eeeeee;
$theme-border-color3: #909097;
$theme-border-color4: #f0f0f0;
$theme-border-color5: #dddddd;
/* 其他颜色 */
$theme-other-color1: #4F94CD;
$theme-other-color2: #CD3333;
$theme-other-color3: #EEEE00;
$theme-other-color4: #9BCD9B;
/* 主题按钮颜色 */
$theme-shadow1: 0 0 10px 2px rgba(0, 0%, 0%, 0.1); 



