@import '@/common/style.scss';
.rich-text {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100% - 100px);
    max-height: auto;
    &_cont {
        line-height: 1.5;
        font-size: 16px;
    }    
    &_menu {
        margin-bottom: 20px;        
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: #f9f9f9;
        &__left {            
            display: flex;
            flex-direction: row;            
            &___item {                
                cursor: pointer;
                text-align: center;
                line-height: 40px;
                width: 40px;
                height: 40px;
                span {
                    font-size: 15px;
                    color: $theme-black-color1;
                }
                &:hover {
                    span { color: #fff; }
                    background-color: #595959;
                }
            }
        }
        &__right {
            display: flex;
            flex-direction: row;
            &___item {                                
                cursor: pointer;
                padding: 0 10px;
                box-sizing: border-box;
                line-height: 40px;                                                
                span:first-child,
                span:last-child {
                    font-size: 15px;
                    color: $theme-black-color1;
                }
                span:last-child {
                    margin-left: 3px;
                }
                &:hover {                    
                    span { color: #fff; }
                    background-color: #595959;
                }
            }
        }        
    }
}
// .public-DraftStyleDefault-block {
//     padding: 5px 0px !important;
// }
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    &_item {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 300px;
        height: 42px;
        border: 1px solid #ccc;
        &__label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;
            border-right: 1px solid #ccc;
            background-color: #eee;
        }
        &__input {
            width: 80%;
            height: 100%;
            input {
                text-indent: 10px;
                font-size: 15px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
// .public-DraftStyleDefault-pre {
//     padding: 10px !important;
//     box-sizing: border-box !important;
//     background-color: #2d2d2d !important;
// }
pre {
    padding: 3px !important;
    box-sizing: border-box !important;
    color: #ddd;
    border-radius: 5px;
    background-color: #2d2d2d !important;
}